/* Main Style Sheet */
body {
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
}

header img {
  height: 1.5rem;
  margin-left: 1rem;
}

.company {
  display: flex;
  padding: 0.66rem;
  height: 1.5rem;
  width: 960px;
  margin: 0 auto;
}

.company-header {
  margin: 0 0.5rem;
}

/* body section stylesheet */

.main-container {
  background-image: url("./images/moto.jpeg");
  height: 25rem;
  display: flex;
  background-size: cover;
}

.main-container-middle {
  margin: auto;
  width: 960px;
}

.main-container-text {
  background-color: black;
  width: 25rem;
  font-family: Helvetica;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: auto 0;
}

.main-container-text h3 {
  font-size: 1rem;
  margin: 2rem 0 0.25rem 3rem;
  padding-top: 2rem;
}

.main-container-text h1 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-left: 3rem;
  padding-top: 0.25rem;
}

.ribbon {
  background-color: firebrick;
  color: white;
}

.ribbon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  width: 960px;
  margin: auto;
}

.ribbon .mobile-nav {
  display: none;
}
/* product images */

.product-location-section {
  background-color: white;
  width: 960px;
  margin: auto;
}

.product-section {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  width: 100%;
}

.product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  width: 30%;
}

.product-images img {
  height: 9rem;
  padding: 2rem 0;
  width: auto;
  max-width: 100%;
  background-color: white;
}

.product-images h4 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
  padding: 0.5rem 0;
}

.location-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.location-container {
  width: 35%;
}

.location {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
  width: 100%;
}

.location-container span {
  color: black;
  font-size: 1rem;
}

/* footer css */

footer {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: black;
  height: 5rem;
}

footer h6 {
  width: 960px;
  margin: auto;
}

/* css for screens under 1024px */

@media only screen and (max-width: 1024px) {
  .ribbon ul {
    display: none;
  }
  .ribbon .mobile-nav {
    display: block;
    text-align: center;
  }

  .glasses {
    display: none;
  }

  .product-section {
    display: flex;
    justify-content: space-around;
  }
}

/* css for screens under 470px */

@media only screen and (max-width: 700px) {
  .company-header h2 {
    display: none;
  }

  .company {
    justify-content: center;
  }

  .main-container {
    height: 15rem;
  }

  nav {
    display: flex;
  }

  .mobile-nav {
    display: flex;
    text-align: center;
  }

  .main-container-text {
    height: 5rem;
    width: 100%;
}

  .main-container-text h3 {
  font-family: Helvetica;
  font-size: 0.77rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1rem;
  }

  .main-container-text h1 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
  }

  .main-container-middle {
    margin-bottom: 0.25rem;
  }

.product-images {
  width: 100%
}

.product-images.watch {
    display: none;
  }

  .product-location-section {
    width: 100%;
  }

  .product-section {
    width: 90%;
  }

  .location-section {
    display: flex;
    flex-direction: column;
  }

  .location-container {
    width: 90%;
  }

  .location {
    width: inherit;
  }
}
